* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "spoqa Han Neo", "Sans-serif";
}

a {
  all: unset;
}

/* 에이테그에 링크가 있을때 */
a:link {
  text-decoration: none;
  color: #3f464d;
}

a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: #3f464d;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem; /*첫줄 링크2개 간격 위아래 줄까 말까*/
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex; /*수평정렬*/
  justify-content: space-between;
  align-items: center;
}

.head-container .head-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-brand a:hover {
  color: #2186c4;
  cursor: pointer;
}

.head-container .head-blog {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-blog a:hover {
  color: #2186c4;
  cursor: pointer;
}

section {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.main {
  height: 360px;
  background-image: url("../img/main.png");
  background-size: cover; /*배경 이미지를 맞춰주기*/
  background-position: center 5%;
  background-repeat: none;
  z-index: 1;
}

.main-container {
  width: 100%;
  height: 100%;
  /* background-color: rgb(227, 255, 175);
    opacity: 0.8; */
  z-index: 2;
  margin-top: 60px; /*너무 떨어지는데?*/
}

.title-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.8rem;
}

.message {
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2rem; /*글자 위아래 간격 늘리기*/
}

.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.1rem 0;
}

.skill {
  width: 25%;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  transition: 0.4s;
}

.skill:hover {
  transform: translate(0, -5px);
}

.skill-icon {
  font-size: 1.5rem;
  margin: 0 10px;
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.skill-name {
  font-weight: bold;
  color: #545e6f;
  margin-bottom: 0.2rem;
}

.skill-usage {
  font-size: 0.9rem;
  color: #545e6f;
}

.python-style {
  color: #2186c4;
}

.analysis-style {
  color: #348100;
}

.ai-style {
  color: #c42121;
}

.vue-style {
  color: #ffd105;
}

.roadmap-container {
  width: 100%;
  margin-top: 2rem;
}

.roadmap-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roadmap-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #545e6f;
}

.slide-prev {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(47, 48, 89);
}

.slide-next {
  font-size: 2rem;
  cursor: pointer;
  color: #cfd8dc;
}

.slide-prev-hover:hover {
  transition: transform 0.5s;
  transform: translateX(-2px);
}

.slide-next-hover:hover {
  transition: transform 0.5s;
  transform: translateX(2px);
}

.arrow-container {
  display: flex;
}

.class-list {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  overflow: none;
}
.class-card {
  max-width: 250px;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  border-radius: 8px;
  margin: 0 10px;
  transition: 0.4s;
  flex-shrink: 0;
}

.class-card:hover {
  box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
  transform: translate(0, -5px);
}

.image-wrapper {
  width: 250px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
.class-image {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.class-image2 {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
}

.class-container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}

.class-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-type {
  font-size: 0.9rem;
  color: #949393;
}

.class-format {
  font-size: 0.9rem;
  color: #fff;
  background-color: royalblue;
  padding: 0.2rem;
}

.class-desc {
  width: 100%;
  margin-top: 1rem;
  color: #545e6f;
}

.class-desc:hover {
  color: #2186c4;
}
/* 카드에 호버시 글씨 색 변경/ 하위 클래스의 컬러를 인헤리트로 줘야한다. */

.class-title {
  font-weight: bold;
  size: ;
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.class-detail {
  font-size: 0.9rem;
  color: inherit;
  line-height: 1.5rem;
}

.roadmap-desc {
  display: visible;
}

.class-card a:hover {
  cursor: pointer;
}

footer {
  border-top: 1px soild #5c5c5c;
  background-color: #f8f9fa;
  padding: 1rem 0;
  margin: 1rem 0;
}

.footer-massage {
  font-weight: bold;
  color: #545e6f;
  margin: 0 0.5rem;
}

.footer-contect {
  color: #545e6f;
  margin-bottom: 1rem;
  margin: 0 0.5rem;
}

.footer-copyright {
  color: #545e6f;
  margin: 0.8rem 0.5rem;
}

#backtotop {
  background-color: rgb(47, 48, 89);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition-property: backgorund-color, opacity, visibility;
  transition-duration: 0.3s, 0.5s, 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

#backtotop::after {
  content: "\f077";
  font-size: 1.5rem;
  font-family: FontAwesome;
  line-height: 40px;
  color: white;
  /* 제일 바닥의 아이콘 */
}

#backtotop.show:hover {
  cursor: pointer;
  background-color: #333;
}

#backtotop.show {
  opacity: 1;
  visibility: visible;
  background-color: rgb(47, 48, 89);
}

/* 드레그 할수 있는 아이템을 손모양 커서로 표시함. */
ul li img:hover {
  cursor: grab;
}

ul li img:active {
  cursor: grabbing;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 780px) {
  /*맥스사이즈보다 작을때 사라짐*/
  .skill-container {
    display: none;
  }
  .roadmap-desc {
    display: none;
  }
}
